<!DOCTYPE html>
<html>
  <head>
    <title>Admin Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div class="page-wrapper chiller-theme toggled">
      <main class="page-content">
        <div class="container-fluid">
          <%= render partial: 'admin/shared/sidebar' %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
